// .alert styles
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-default {
  color: $text-color;
  background-color: lighten($default, 45%);
  border-color: $default;
}
.alert-primary {
  color: $primary;
  background-color: lighten($primary, 45%);
  border-color: $primary;
}
.alert-secondary {
  color: $secondary;
  background-color: lighten($secondary, 45%);
  border-color: $secondary;
}
.alert-warning {
  color: $warning;
  background-color: lighten($warning, 45%);
  border-color: $warning;
}
.alert-danger {
  color: $danger;
  background-color: lighten($danger, 45%);
  border-color: $danger;
}
.alert-success {
  color: $success;
  background-color: lighten($success, 45%);
  border-color: $success;
}