// .bg styoes
.bg-default {
  background: $default;
  color: $text-color;
}
.bg-primary {
  background: $primary;
  color: white;
}
.bg-secondary {
  background: $secondary;
  color: white;
}
.bg-danger {
  background: $danger;
  color: white;
}
.bg-warning {
  background: $warning;
  color: white;
}
.bg-success {
  background: $success;
  color: white;
}

// Old GRP themes
.bg-blizzard-blue {
  background: $blizzard-blue;
}

.bg-humming-bird {
  background: $humming-bird;
}

.bg-humming-bird-light {
  background: $humming-bird-light;
}
