// .bg styoes
.bg-primary {
  background: $primary;
  color: white;
}

.bg-danger {
  background: $danger;
  color: white;
}

.bg-warning {
  background: $warning;
  color: white;
}

.bg-success {
  background: $success;
  color: white;
}

.bg-blue {
  background: $blue;
}

.bg-light-blue {
  background: $light-blue;
}

.bg-super-light-blue {
  background: $super-light-blue;
}
