// .btn styles
.btn {
  padding: 5px 20px;
  border-radius: 3px;
}
.btn-primary {
  background: #3b83b5;
  color: #fff;
}
.btn-info {
  background: #74b1dd;
  color: #fff;
}
.btn-success {
  background: #81BE23;
  color: #fff;
}
.btn-danger {
  background: #D80878;
  color: #fff;
}
.btn-warning {
  background: #FF7D00;
  color: #fff;
}