// GRP styles
@import 'variables';

body {
  color: #333;
}

body,
input,
select,
table,
textarea {
  font: $regular Arial;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

@import 'alert';
@import 'bg';
@import 'btn';
@import 'card';
@import 'form';
@import 'outline';
@import 'text';
@import 'm';
@import 'p';