// WWW styles
@import 'variables';

body {
  color: $text-color;
}

body,
input,
select,
table,
textarea {
  font: $regular $text-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

code, kbd, pre, samp {
  font-size: 13px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@import 'alert';
@import 'badge';
@import 'bg';
@import 'btn';
@import 'card';
@import 'form';
@import 'outline';
@import 'text';
@import 'm';

@import 'col';
