.hw-icon {
  padding-left: 35px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hw-icon-comments {
  background: url("../img/comments.png") no-repeat;
  background-size: 26px 26px;
}

.hw-icon-cog {
  background: url("../img/cog.png") no-repeat;
  background-size: 26px 26px;
}
