/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .mobile-view {
    display: none;
  }
  .container_16 {
    visibility: visible !important;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .mobile-view {
    display: none;
  }
  .container_16 {
    visibility: visible !important;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container_16 {
    display: none;
  }
  .holding-image {
    min-height: 230px;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container_16 {
    display: none;
  }
  .holding-image {
    min-height: 180px;
  }
  .meetingentrygroup {
    margin: 5% 0;
  }
  .bottom {
    position: absolute;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .container_16 {
    display: none;
  }
  .holding-image {
    min-height: 150px;
  }
  .meetingentrygroup {
    margin: 5% 0;
  }
  .bottom {
    position: unset;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 321px) and (max-width: 480px) {
  .container_16 {
    display: none;
  }
  .holding-image {
    min-height: 130px;
  }
  span {
    display: inline-block;
  }
  i {
    border: solid;
    border-width: 0 2px 2px 0;
    padding: 3px;
  }
  .meetingentrygroup {
    font-size: smaller;
    margin: 15% 0;
  }
  .bottom {
    position: absolute;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 200px) and (max-width: 320px) {
  .container_16 {
    display: none;
  }
  .holding-image {
    min-height: 100px;
  }
  span {
    display: inline-block;
  }
  i {
    border: solid;
    border-width: 0 2px 2px 0;
    padding: 3px;
  }
  .meetingentrygroup {
    font-size: small;
    margin: 15% 0;
  }
  .bottom {
    position: absolute;
  }
}
@media (max-width:1024px) {
  body {
    background: none;
    width: 100% !important;
    min-width: 0 !important;
  }
  .header {
    width: unset;
    font-size: 100%;
    font-weight: bold;
    padding-top: 15px;
  }
  .holding-image {
    width: 100%;
    max-height: 100%;
  }
  .meeting-icon {
    margin-left: -2px !important;
  }
  .mobile-view {
    visibility: visible !important;
  }
}
