// .text styles
.text-primary {
  color: $primary;
}
.text-info {
  color: $info;
}
.text-warning {
  color: $warning;
}
.text-danger {
  color: $danger;
}
.text-success {
  color: $success;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #999;
}
.text-lg {
  font-size: $large;
}