// Variables
$white: #fff;
$dark-gray: #808080;
$black: #000;
$dark-blue: #3b83b5;
$cyan: #74b1dd;
$green: #81BE23;
$orange: #FF7D00;
$red: #D80878;

// Remnants colors from the  previous template
$gray: #eee;
$light-gray: #f6f6f6;
$blue: #b0e1f3;
$light-blue: #cdecf7;
$super-light-blue: #e3f4fb;

$primary: $dark-blue;
$secondary: $green;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;

$regular: 14px;
$small: 12px;
$extra-small: 9px;
$extra-extra-small: 8px;